body{

    display: block;
    /* justify-content: center; */
    /* align-items: center; */
    background-color: rgb(219, 213, 213);
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

#intro
{

}

#calculator-body
{
    display:flex;
    flex:1;
    flex-direction:column;
    justify-content: space-evenly;
    height: 500px;
    /* height:90vh; */
    width: 380px;
    /* width: 50vh; */
    background-color: rgb(25, 24, 24);
    padding:10px;
        
}

#displayOutput{
    display:flex;
    flex:1;
    width:350px;    
    height: 80px;
    padding:5px;
    justify-content:end;
    color:rgb(62, 65, 63);
    background-color: rgb(162, 172, 181);
    font-size: 70px;
    border-style: double;
    border-color: rgb(42, 165, 61);
    border-width: 5px;
}

#userInput
{
    display: flex;
    /* flex:1; */
    /* flex-direction:row; */
    /* justify-content: space-around; */

       
}

#row1 
{

}

#column1 
{

}

#column2 
{
    display: flex;
    flex:1;
    flex-direction:row;

}

button
{
    width:80px;
    height: 80px;
    font-size: 40px;
    font-style:italic;
    background-color: rgb(71, 71, 75);
    color: rgb(31, 34, 36);
    border-style:inset;
    border-radius: 10px;
    border-color: rgb(77, 112, 217);
    padding:5px;

}

#column1 button 
{
    background-color: rgb(235, 131, 4);
}

#column2 button 
{
    background-color: rgb(7, 184, 78);
}

#zeroClearEqual
{
    /* flex-direction: row; */
}

#oneTwoThree
{
    
}

#fourFiveSix
{
/* justify-content: space-between; */
}

#sevenEightNine
{
}

#arithmeticOperators
{
    /* flex:1; */

}

