body{

    display: block;
    /* justify-content: center; */
    /* align-items: center; */
    background-color: rgb(219, 213, 213);
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

#intro
{

}

#calculator-body
{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 70vh;
    height:90vh;
    min-width: 60vw;
    width: 50vh;

    background-color: rgb(25, 24, 24);
        
}

#displayOutput{
    width:45vw;
    height: 20vh;
    padding:5px;
    justify-content:end;
    color:rgb(87, 194, 123);
    background-color: aliceblue;
    font-size: 100px;
    border-style: double;
    border-color: brown;
}

#userInput
{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
}

button
{
    width:10vw;
    height: 10vh;
    font-size: 5vh;
    font-style:italic;
    background-color: rgb(71, 71, 75);
    color: aliceblue;
    border-style:inset;
    border-radius: 10px;
    border-color: aquamarine;
    padding:5px;

}

#row1 
{
align-items: end;
}

#column1 
{


}

#column2 
{

}

#zeroClearEqual
{
    flex-direction: row;
}

#oneTwoThree
{
    
}

#fourFiveSix
{
/* justify-content: space-between; */
}

#sevenEightNine
{
}

#arithmeticOperators
{
    /* flex:1; */

}

